@{
    ViewData["Title"] = "Walkthrough";
}

<div class="jumbotron" style="text-align:center">
    <h1>@ViewData["Title"].</h1>
    <h3>@ViewData["Message"]</h3>
</div>


<div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                1. Consult
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                2. Pre-Exam
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                3. The Scan
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                4. Post-Exam
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                5. Vitrea Work-up
            </h2>
        </div>
    </div>
</div>